.latest-releases{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0 15em;
    &__title {
      font-size: 4em; 
    }
    &__category {
      margin-top: 20px; 
      padding: 10px;
      font-size: 1.2em;
      width: 50%; 
    }
    &__container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }


.card {
    border:1px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    margin-top: 2em;
    &__image {
      width: 200px;
      margin: 1em;
      border-radius: 0.5em;
    }
    &__details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 2em 0;
      &--average {
        display: flex;
        align-items: center;
        gap: 0.5em;
      }
    }
    &__buttons {
      display: flex;
      gap: 1em;
      & button {
        background-color: transparent;
        border-radius: 2em;
        border: 2px solid white;
        color: white;
        padding: 0.5em 1em;
        transform: ease-in-out 0.2s;
        cursor: pointer;
        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
  }
  
  .imdb {
    width: 40px;
  }
  
  .star {
    width: 15px;
  }