.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px;
    color: white;
    width: 100%;
    box-sizing: border-box;
  
    .navbar__logo-title {
      display: flex;
      align-items: center;
    }
  
    .navbar__title {
      font-size: 20px;
      margin-left: 10px;
    }
  
    .navbar__buttons {
      display: flex;
      gap: 10px;
  
      button {
        background: none;
        border: none;
        color: white;
        cursor: pointer;
      }
    }
  }