.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 0;
  
    .footer__content {
      display: flex;
      flex-direction: column; // Add this line
      justify-content: center;
      align-items: center;
      padding: 0 10px;
    }
  
    .footer__credits {
      display: flex;
      align-items: center;

  
      a {
        color: white;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }