:root {
  font-family:'Times New Roman', Times, serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  &:hover {
    color: #535bf2;
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  /* min-width: 320px; */
  min-height: 100vh;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* .main-container {
  position: relative;
  height: calc(100vh - 15em);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  &__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  &__btn {
    padding: 0.5em;
    font-size: 1em;
    margin-bottom: 0.5em;
    border: none;
    color: white;
    background-color: black;
  }
  &__google {
    background-color: #3B3B3B;
  }
}

.logout {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  padding: 0.5em;
  font-size: 1em;
  border: none;
  color: white;
  background-color: black;
} */

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;  
}

.form {
  width: 300px;
  padding: 20px;
  /* background-color: white; */
  border-radius: 8px;
  border: 1px solid #000;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.8);
}

.form__textBox {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form__btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form__btn:hover {
  background-color: #0056b3;
}

.form__google {
  margin-top: 10px;
  background-color: #db4437;
}

.form__google:hover {
  background-color: #c23321;
}